<%= renderer.renderComponent('Menu') %>
<form
  class="env-form env-w--50 env-p-left--large"
  action="<%= getUrl('/edit', {dsid:item.dsid}) %>"
  method="post"
>
  <div class="env-form-element env-m-top--large">
    <label for="title" class="env-form-element__label"
      ><%= i18n('title') %></label
    >
    <div class="env-form-element__control">
      <input
        autocomplete="off"
        type="text"
        class="env-form-input"
        placeholder="<%= i18n('enter') %> <%= i18n('title').toLowerCase() %>"
        value="<%- item.title %>"
        name="title"
        id="title"
        required
      />
    </div>
  </div>
  <div class="env-form-element">
    <label for="description" class="env-form-element__label"
      ><%= i18n('description') %></label
    >
    <div class="env-form-element__control">
      <input
        autocomplete="off"
        type="text"
        placeholder="<%= i18n('enter') %> <%= i18n('description').toLowerCase() %>"
        value="<%- item.description %>"
        class="env-form-input"
        name="description"
        id="description"
        required
      />
    </div>
  </div>
  <div class="env-form-element">
    <div class="env-form-element__control">
      <label for="price" class="env-form-element__label"
        ><%= i18n('price') %></label
      >
      <input
        autocomplete="off"
        type="number"
        placeholder="<%= i18n('enter') %> <%= i18n('price').toLowerCase() %>"
        value="<%- item.price %>"
        class="env-form-input"
        name="price"
        id="price"
        required
      />
    </div>
  </div>
  <div class="env-form-element">
    <div class="env-form-element__control">
      <label for="name" class="env-form-element__label"
        ><%= i18n('name') %></label
      >
      <input
        autocomplete="off"
        type="text"
        value="<%- item.contactInfo.name %>"
        placeholder="<%= i18n('enter') %> <%= i18n('name').toLowerCase() %>"
        class="env-form-input"
        name="name"
        id="name"
        required
      />
    </div>
  </div>
  <div class="env-form-element">
    <div class="env-form-element__control">
      <label for="phoneNumber" class="env-form-element__label"
        ><%= i18n('phoneNumber') %></label
      >
      <input
        autocomplete="off"
        type="number"
        value="<%- item.contactInfo.phoneNumber %>"
        placeholder="<%= i18n('enter') %> <%= i18n('phoneNumber').toLowerCase() %>"
        class="env-form-input"
        name="phoneNumber"
        id="phoneNumber"
        required
      />
    </div>
  </div>
  <div class="env-form-element">
    <div class="env-form-element__control">
      <label for="email" class="env-form-element__label"
        ><%= i18n('email') %></label
      >
      <input
        autocomplete="off"
        type="email"
        value="<%- item.contactInfo.email %>"
        placeholder="<%= i18n('enter') %> <%= i18n('email').toLowerCase() %>"
        class="env-form-input"
        name="email"
        id="email"
        required
      />
    </div>
  </div>
  <div class="env-form-element">
    <input
      class="env-button env-button--primary"
      type="submit"
      value="<%= i18n('save') %>"
    />
    <a class="env-button env-button" href="<%= getUrl('/userItems') %>"
      ><%= i18n('back') %></a
    >
  </div>
</form>
