<ul class="env-nav env-nav--menubar env-nav--border" role="menubar">
  <li class="env-nav__item" role="menuitem">
    <a id="menu-root" class="env-nav__link" href="<%= getUrl('/') %>"><%= i18n('latestItems') %></a>
  </li>
  <li class="env-nav__item" role="menuitem">
    <a id="menu-user-items" class="env-nav__link" href="<%= getUrl('/userItems') %>"><%= i18n('userItems') %></a>
  </li>
  <li class="env-nav__item" role="menuitem">
    <a id="menu-create" class="env-nav__link" href="<%= getUrl('/create') %>"><%= i18n('create') %></a>
  </li>
</ul>