<%= renderer.renderComponent('Menu') %>
<form
  class="env-form env-p-left--large"
  action="<%= getUrl('/upload') %>/<%- id %>"
  method="post"
  enctype="multipart/form-data"
>
  <div class="env-form-element">
    <label for="file" class="env-form-element__label"><%= i18n('image') %></label>
    <div class="env-form-element__control">
      <input id="file" type="file" name="file" />
    </div>
  </div>
  <div class="env-form-element">
    <button type="submit" class="env-button env-button--primary"><%= i18n('upload') %></button>
    <a class="env-button env-button" href="<%= getUrl('/userItems') %>"
      ><%= i18n('back') %></a
    >
  </div>
</form>
