<li class="env-list__item env-p-around--large">
  <article class="env-comment env-media">
    <div class="env-media__figure"><%= image %></div>
    <div class="env-media__body">
      <header class="env-comment__header">
        <div class="<%- titleClass %>"><%- title %></div>
      </header>
      <p class="env-text"><%- description %></p>
      <footer class="env-comment__footer">
        <ul class="env-list env-list--horizontal env-list-dividers--left">
          <li class="env-list__item">
            <strong><%- price %> kr</strong>
          </li>
          <li class="env-list__item">
            <%= i18n('createdBy') %> <%- contactInfo.name %>
          </li>
          <li class="env-list__item"><%- contactInfo.phoneNumber %></li>
          <li class="env-list__item"><%- contactInfo.email %></li>
        </ul>
      </footer>
      <footer class="env-comment__footer env-m-top--small">
        <ul class="env-list env-list--horizontal env-list-dividers--left">
          <li class="env-list__item">
            <a
              class="env-button env-button--small env-button--primary"
              href="<%= getUrl('/upload/' + dsid) %>"
            >
              <%= i18n('changeImage') %>
            </a>
          </li>
          <li class="env-list__item">
            <a
              class="env-button env-button--small env-button--primary"
              href="<%= getUrl('/edit', {id:dsid}) %>"
            >
              <%= i18n('edit') %>
            </a>
          </li>
          <li class="env-list__item">
            <form
              class="env-form"
              method="post"
              action="<%= getUrl('/remove', {dsid:dsid}) %>"
            >
              <div class="env-form-element">
                <input
                  class="env-button env-button--small env-button--danger"
                  type="submit"
                  value="<%= i18n('remove') %>"
                />
              </div>
            </form>
          </li>
        </ul>
      </footer>
    </div>
  </article>
</li>
